*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Overlock', cursive;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/* header start */
header {
    background-color: steelblue;
}

h1 {
    text-align: center;
    color: white;
    padding: 3%;
}
/* header end */

/* Library start */
.libraryContainer {    
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-column-gap: 5%;
    /* justify-content: center; */
}

.addBook {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.addBook button {
    background-color: steelblue;
    border: 2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    padding: 15px 60px;
    font-size: 20px;
}

.book {
    background-color: whitesmoke;
    width: 220px;
    height: 250px;
    margin-top: 18px;
    border: 2px solid steelblue;
    border-radius: 5px;
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bookInfo {
    padding: 10px;
    color: black;
}

.title {
    background-color: steelblue;
    width: 100%;
    height: 34%;
    padding: 6px 8px;
    font-size: 18px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hahmlet', serif;
}

.author {
    margin-bottom: 5%;
}

.statusButton {
    padding: 8px;
    width: 77%;
    font-size: 18px;
    background-color: steelblue;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}

.statusButton:hover,
.addBook button:hover {
    background-color: #8A4F7D;
}

.statusButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.addBook button:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.removeBook {
    background-color: seagreen;
    color: white;
    padding: 8px;
    width: 77%;
    font-size: 18px;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    margin-top: 3px;
}

.removeBook:hover {
    background-color: #A30000;
}

button {
    cursor: pointer;
}

/* library End */

/* form start */

.formContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
}

.form {
    max-width: 500px;
    border: 2px solid white;
    background-color: steelblue;
    border-radius: 6px;
    padding: 25px;
    height: 430px;
    margin: 25vh 10vw;
    position: relative;
}

label {
    font-size: 18px;
    color: white;
}

input[type=text],
select {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid steelblue;
    border-radius: 6px;
    margin: 10px 0;
}

.formButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#submit, 
#clearForm {
    width: 150px;
    padding: 6px 0;
    margin-top: 5px;
    border: 2px solid steelblue;
    border-radius: 6px;
    font-size: 20px;
}

#submit:hover, 
#clearForm:hover {
    border: 2px solid white;
    color: white;
}

#submit:hover {
    background-color: seagreen;
}

#clearForm:hover {
    background-color: #A30000;
}

#closeForm {
    font-size: 30px;
    position: absolute;
    right: 8px;
    top: 0px;
    color: white;
    background-color: Transparent;
    border: none;
}

#closeForm:hover {
    color: #A30000;
}

/* form end */



/* responsive start */

/* @media (max-width: 739px) {
    .libraryContainer {
        grid-template-columns: repeat(auto-fit, 220px);
        grid-column-gap: 5%;
        justify-content: center;
    }
} */

@media (max-width: 700px) {
    .libraryContainer {
        grid-template-columns: repeat(auto-fit, 250px);
        grid-column-gap: 5%;
        justify-content: center;
    }

    .book {
        width: 250px;
        height: 300px;
        font-size: 18px;
    }

    .title {
        font-size: 23px;
        padding: 10px;
        height: 40%;
    }
}